In [1]:
import pandas as pd

In [2]:
tables = pd.read_html("https://www.w3schools.com/html/html_tables.asp")

In [4]:
tables[0]

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [5]:
tables[0].to_csv("mydata.csv")

In [7]:
tables[0].to_excel("myda.xlsx", index=None)

In [8]:
import numpy as np

In [9]:
arr = np.random.randint(10, 20, (20, 3))

In [10]:
arr

array([[17, 11, 12],
       [14, 16, 14],
       [19, 12, 11],
       [11, 11, 19],
       [11, 10, 11],
       [15, 17, 19],
       [17, 17, 10],
       [14, 19, 16],
       [13, 15, 14],
       [12, 19, 15],
       [17, 15, 13],
       [10, 12, 14],
       [17, 12, 11],
       [19, 15, 15],
       [13, 14, 10],
       [19, 11, 15],
       [11, 10, 10],
       [15, 15, 19],
       [15, 15, 12],
       [19, 15, 11]])

In [12]:
df = pd.DataFrame(arr)

In [13]:
df.columns = ["math", "phy", "chem"]

In [14]:
df

    math  phy  chem
0     17   11    12
1     14   16    14
2     19   12    11
3     11   11    19
4     11   10    11
5     15   17    19
6     17   17    10
7     14   19    16
8     13   15    14
9     12   19    15
10    17   15    13
11    10   12    14
12    17   12    11
13    19   15    15
14    13   14    10
15    19   11    15
16    11   10    10
17    15   15    19
18    15   15    12
19    19   15    11