In [2]:
import pandas as pd

df = pd.read_csv("../datasets/Iris.csv", index_col=0)

In [9]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
data = df.values

data.shape

X = data[:, :4]

y = data[:, 4]

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [63]:
len(X_train)

100

In [64]:
from sklearn.neighbors import KNeighborsClassifier

In [65]:
model = KNeighborsClassifier()

In [66]:
model.fit(X_train, y_train)

KNeighborsClassifier()

In [67]:
model.score(X_test, y_test)

0.98

In [72]:
df.iloc[100:102]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
101            6.3           3.3            6.0           2.5  Iris-virginica
102            5.8           2.7            5.1           1.9  Iris-virginica

In [73]:
model.predict([[6.3, 3.3, 6.0, 2.5]])

array(['Iris-virginica'], dtype=object)

In [ ]:
np.rando